.footer-container {
    justify-content: center;
    background-color: #0255a3;
    color: white;
    background-image: url(../../assets/bg2.jpg);  
}
i{
    color: white;
    padding: 18px;
    padding-left: 0px;
}
i:hover{
    transform: scale(1.6);
    color: rgb(252, 167, 10);
}