.container-fluid {
    max-width: 75%;
    background-color: #ffffff;
    padding: 2rem 0 !important;
    text-align: center;
    
}
.skills-title {
    padding-bottom: 20px;
}
.skills-container {
    padding-top: 20px;
    padding-left:20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}
.skills-container:hover {
    background-color: rgb(247, 190, 35);
}
p {
    font-size: 14px;
    margin-right: 18px;
}
/* 
@media only screen and (max-width: 500px) and (min-width: 341px) {  
    body{  
        background-color:rgb(197, 82, 82);  
        font-family: Times New Roman;  
        }  
}  
  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
  
}  */


